@using ActiveDirectory.Actions
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="../../../">
    <meta charset="utf-8"/>
    <title>OTOKOÇ OTOMATİK KULLANICI OLUŞTURMA UYGULAMASI</title>
    <meta name="description" content="Login page example"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <link href="assets/css/pages/login/login-1.css?v=7.0.5" rel="stylesheet" type="text/css"/>
    @Styles.Render("~/Content/View")
    <link rel="shortcut icon" style="color: white" href="~/otokoc.svg"/>
</head>
<body id="kt_body" class="quick-panel-right demo-panel-right offcanvas-right header-fixed header-mobile-fixed subheader-enabled aside-enabled aside-static page-loading">
<div class="d-flex flex-column flex-root">
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
        <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #b3b3b3;">
            <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
                <a class="text-center mb-10">
                    <img src="~/otokoc.svg" class="max-h-70px" alt=""/>
                </a>
                <h3 class="font-weight-bolder text-center font-size-h4 font-size-h1-lg" style="color: white;">
                    Auto-Create User Application
                </h3>
            </div>
            <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center"></div>
        </div>
        <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
            <div class="d-flex flex-column-fluid flex-center">
                <div class="login-form login-signin">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="font-size-h6 font-weight-bolder text-dark">logOn Name</label>
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" type="text" name="Name" id="Name" autocomplete="off"/>
                        </div>
                        <div class="form-group">
                            <div class="d-flex justify-content-between mt-n5">
                                <label class="font-size-h6 font-weight-bolder text-dark pt-5">Şifre</label>
                            </div>
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" type="Password" name="Password" id="Password" autocomplete="off"/>
                        </div>
                        <div class="form-group">
                            <div class="d-flex justify-content-between mt-n5">
                                <label class="font-size-h6 font-weight-bolder text-dark pt-5">domain</label>
                            </div>
                            <select class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" name="domain">
                                @foreach (var item in DomainActions.Domains())
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                        <div class="pb-lg-0 pb-5">
                            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Giriş Yap</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
@Scripts.Render("~/Content/Scripts")
<script src="~/Scripts/Action/Login.js" type="text/javascript"></script>
@if (TempData["hata"] != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Kullanıcı Adı Veya Şifre Yanlış'
        })
    </script>
}
</body>
</html>